{{- $respSizes := slice "960" "1280" "1920" -}}
{{- $imgBase := "images/" -}}
{{- $srcPath := printf "%s%s" $imgBase (.Get "src") -}}
{{- $src := resources.Get $srcPath -}}
{{- $srcPath := printf "%s%s" $imgBase (.Get "src") -}}
{{- $src := resources.Get $srcPath -}}
{{- if $src -}}
    {{- $actualImg := $src.Resize "640x" -}}
    <picture>
        <source type="image/webp" srcset="{{ $actualImg.RelPermalink }}" sizes="(min-width: 1024px) 100vw, 50vw">
        <source type="image/jpeg" srcset="{{ $actualImg.RelPermalink }}" sizes="(min-width: 1024px) 100vw, 50vw">
        <source type="image/jpg" srcset="{{ $actualImg.RelPermalink }}" sizes="(min-width: 1024px) 100vw, 50vw">
        <img src="{{ $actualImg.RelPermalink }}" alt="{{ .Get "alt" }}" loading="lazy">
    </picture>
{{- else -}}
    <!-- Handle case where $src is nil or empty -->
    <img src="/path/to/default/image.jpg" alt="Default Image">
{{- end -}}
{{- $alt := .Get "alt" -}}
{{- $divClass := "" -}}{{/* Init'g */}}
{{- $imgClass := "w-full h-auto animate-fade" -}}
{{- $dataSzes := "(min-width: 1024px) 100vw, 50vw" -}}
{{- $actualImg := $src.Resize "640x jpg" -}}
<picture>
  <source
    type="image/webp"
    srcset="
      {{- with $respSizes -}}
        {{- range $i, $e := . -}}
        {{- if ge $src.Width . -}}
          {{- if $i }}, {{ end -}}{{- ($src.Resize (printf "%sx%s" . " webp") ).RelPermalink }} {{ . }}w
        {{- end -}}
      {{- end -}}
    {{- end -}}"
    sizes="{{ $dataSzes }}"
  />
  <source
    type="image/jpeg"
    srcset="
      {{- with $respSizes -}}
        {{- range $i, $e := . -}}
          {{- if ge $src.Width . -}}
            {{- if $i }}, {{ end -}}{{- ($src.Resize (printf "%sx%s" . " jpg") ).RelPermalink }} {{ . }}w
          {{- end -}}
      {{- end -}}
    {{- end -}}"\
    sizes="{{ $dataSzes }}"
  />
  <img class="{{ $imgClass }}"
    src="{{ $actualImg.RelPermalink }}"
    width="{{ $src.Width }}"
    height="{{ $src.Height }}"
    alt="{{ $alt }}"
    loading="lazy"
  />
</picture>
</div>