/* assets/_variables.scss */

/* Makes the whole website container wider */
$container-max-width: 90rem; /* Default is usually around 64rem or 104rem depending on version */


$menu-width: 18rem; //left
$toc-width: 20rem; // right